.table {
    width: 800px;
    margin: 50px auto;
    border-collapse: collapse;
    border: 1px #000 solid;
    box-shadow: 2px 2px 4px black;
    border-radius: 5ps;
    background-color: #fff;
}

.head {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    text-align: center;
    background-color: #00BCD5;
}

.cell {
    border: 1px #000 solid;
    text-align: center;
    background-color: fff;
    padding: 10px 0;
}

.activeCell {
    background-color: transparent;
}

.notActive {
    background-color: #F3F6F9;
}

td {
    width: 33.33%;
    box-sizing: border-box;
  }